@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #001833;
    padding: 0;
    /* overflow: hidden; */
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #F5FAFF;
    font-weight: 550;
    letter-spacing: 2px;
}

a:hover{
    text-decoration: none;
}

.home-sec{
    width: 100%;
    height: 100vh;
    background: #F5FAFF;
    padding: 0 0;
}

.logo{
    width: 150px;
    height: 70px;
    position: relative;
    left: 40%;
    transform: translateX(-40%);
}

.box{
    padding: 0 0;
    border: 1px solid black;
    height: 100vh;
    width: 100%;
}

.sidebar{
    background: #e7532e;
    color: #FFF;
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 0;
    width: 300px;
    height: 100vh;
    position: absolute;
}

ul{
    margin-top: 4rem;
    padding:  0 0;
}

li{
    list-style: none;
    width: 100%;
    margin-bottom: 2rem;
    padding-left: .5rem;
}

li a{
    font-weight: 600;
    display: block;
}

li a span{
    font-size: 14px;
    padding-left: 1rem;
}

li a.active{
    background: #FFF;
    color: #001833;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 50px 0 0 50px;
}

li a.active:hover{
    color: #001833;
}

li a:hover{
    color: #001833;
}

.sidebar-menu span{
    display: inline-block;
}

li a span:first-child{
    font-size: 1.1rem;
}

.box{
    display: inline-block;
    /* background: grey; */
    margin-left: 300px;
}

.nav-header{
    background: salmon;
}

.main-content {
    margin-left:310px;
    padding-top: .5rem;
    margin-right: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    height: 60px;
}

h6{
    font-size: 20px;
}


.user-wrapper{
    font-size: 15px;
}