@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #000;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/* LOGIN.PHP --------- */
.login-sec{
    width: 100%;
    height: 100vh;
    background-image: url("bg_login.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-sec .box-login{
    width: 30%;
    height: 65%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 32px 32px;
    background: #fff;
    border: solid 1px lightgrey;
    border-radius: 13px;
    box-shadow: 0px 3px 50px rgba(0,0,0,0.2);
}

.login-sec h3{
    text-align: center;
    font-weight: bold;
    color: #e7532e;
    margin-bottom: 60px;
}

.login-sec input{
    border: transparent solid 1px;
    border-bottom: solid 1px #e7532e;
    padding-left: 0;
}

.login-sec button.btn-main{
    padding: 0.5rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 2px;
    background: #e7532e;
    transition: ease 0.3s;
    color: #fff;
    font-weight: 700;
    margin-top: 32px;
    position: relative;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    margin-bottom: 24px;
}

.login-sec button.btn-main:hover{
    background: #ff724f;
}

.login-sec h6{
    position: relative;
    font-size: 12px;
}

.login-sec h6 a{
    font-size: 12px;
    color: rgb(100, 162, 255);
}


/* REGIST.PHP---------- */
.regist-sec{
    width: 100%;
    height: 100vh;
    background-image: url("bg_login.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.regist-sec .box-regist{
    width: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 32px 32px;
    background: #fff;
    border: solid 1px lightgrey;
    border-radius: 13px;
    box-shadow: 0px 3px 50px rgba(0,0,0,0.2);
}

.regist-sec h3{
    text-align: center;
    font-weight: bold;
    color: #e7532e;
    margin-bottom: 32px;
}

.regist-sec input{
    border: transparent solid 1px;
    border-bottom: solid 1px #e7532e;
    padding-left: 0;
}

.regist-sec button#nextbtn,
.regist-sec button#submitbtn,
.regist-sec button#prevbtn{
    padding: 0.5rem 2.5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 2px;
    background: #e7532e;
    transition: ease 0.3s;
    color: #fff;
    font-weight: 700;
    margin-top: 32px;
    position: relative;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
}

.regist-sec button#nextbtn:hover,
.regist-sec button#submitbtn:hover,
.regist-sec button#prevbtn:hover{
    background: #ff724f;
}

.regist-sec button#submitbtn,
.regist-sec button#prevbtn{
    position: relative;
    left: 35%;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
}

.regist-sec button#submitbtn{
    padding: .5rem 1.8rem;
    margin-left: 60px;
}

.regist-sec .hide-form{
    display: none;
}

.regist-sec .show-form{
    display: block;
}


/* MAIN.PHP----------- */
.main-sec{
    width: 100%;
    height: 100vh;
    padding: 0 0;
}

